#!/bin/bash

which -s brew
if [[ $? != 0 ]]; then
  echo 'Installing Homebrew...'
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{ if eq .chezmoi.os "linux" }}
    echo >> /home/codespace/.bashrc
    echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> /home/codespace/.bashrc
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  {{ end }}
fi

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/bundle"

brew "atuin"
brew "bat"
brew "eza"
brew "fd"
brew "forgit"
brew "fzf"
brew "git-delta"
brew "oh-my-posh"
brew "zellij"
brew "zoxide"
brew "zsh-autosuggestions"
{{ if (not .codespaces) }}
brew "colima"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "docker-credential-helper"
{{ end }}
brew "helix"
brew "httpie"
brew "gh"
brew "gitui"

brew "mise"
{{- if (not .codespaces) }}
brew "rustup"
brew "typescript-language-server"
{{- end }}
{{ if (not .codespaces) }}
cask "1password", args: { force: true }
cask "discord", args: { force: true }
cask "firefox", args: { force: true }
cask "font-jetbrains-mono-nerd-font", args: { force: true }
cask "font-jetbrains-mono", args: { force: true }
cask "fork", args: { force: true }
cask "raycast", args: { force: true }
cask "slack", args: { force: true }
{{ end }}
EOF

gh extension install dlvhdr/gh-dash
gh extension upgrade --all

