theme = "catppuccin_custom"

[editor]
line-number = "relative"
mouse = true
cursorline = true
completion-replace = true
rulers = [80]
auto-pairs = false
scrolloff = 2
jump-label-alphabet = "tnseriaodhc,x.z/plfuwy"

[editor.lsp]
display-signature-help-docs	= false

[editor.auto-save.after-delay]
enable = true

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
hidden = false

[editor.statusline]
right = ["version-control", "spacer", "separator", "diagnostics", "selections", "register", "position"]

[editor.indent-guides]
render = true

[editor.soft-wrap]
enable = true

[keys.normal.backspace]
a = ":run-shell-command zellij run --floating -x 10%% -y 10%% --width 80%% --height 80%% -- opencode"
b = ":run-shell-command zellij run --floating -x 10%% -y 10%% --width 80%% --height 80%% -- mise run build"
s = ":run-shell-command zellij run --floating -x 10%% -y 10%% --width 80%% --height 80%% -- mise run start"
l = ":run-shell-command zellij run --floating -x 10%% -y 10%% --width 80%% --height 80%% -- mise run lint"
f = ":run-shell-command zellij run --floating -x 10%% -y 10%% --width 80%% --height 80%% -- mise run fmt"
t = ":run-shell-command zellij run --floating -x 10%% -y 10%% --width 80%% --height 80%% -- mise run test"
T = ":run-shell-command zellij run --floating --direction down --size 20%% -- mise run test-watch"

[keys.normal.space.b]
b = "buffer_picker"
c = ":buffer-close"
f = ":format"
n = ":buffer-next"
p = ":buffer-previous"
r = ":reload-all"
w = ":write"

[keys.normal]
"pageup" = ["page_cursor_half_up", "align_view_center"]
"pagedown" = ["page_cursor_half_down", "align_view_center"]
"C-up" = ["page_cursor_half_up", "align_view_center"]
"C-down" = ["page_cursor_half_down", "align_view_center"]
"C-u" = ["page_cursor_half_up", "align_view_center"]
"C-d" = ["page_cursor_half_down", "align_view_center"]

[keys.insert]
C-h="signature_help"
